-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: amrtmco_business
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `additional_features`
--

DROP TABLE IF EXISTS `additional_features`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `additional_features` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `hall_id` bigint(20) unsigned NOT NULL,
  `name` varchar(191) NOT NULL,
  `icon` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `additional_features_hall_id_foreign` (`hall_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `additional_features`
--

LOCK TABLES `additional_features` WRITE;
/*!40000 ALTER TABLE `additional_features` DISABLE KEYS */;
/*!40000 ALTER TABLE `additional_features` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agent_ref_codes`
--

DROP TABLE IF EXISTS `agent_ref_codes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `agent_ref_codes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `agent_id` bigint(20) unsigned NOT NULL,
  `code` varchar(20) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `agent_ref_codes_code_unique` (`code`),
  KEY `agent_ref_codes_agent_id_foreign` (`agent_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agent_ref_codes`
--

LOCK TABLES `agent_ref_codes` WRITE;
/*!40000 ALTER TABLE `agent_ref_codes` DISABLE KEYS */;
/*!40000 ALTER TABLE `agent_ref_codes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bs_categories`
--

DROP TABLE IF EXISTS `bs_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bs_categories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `key` varchar(191) NOT NULL,
  `name_ar` varchar(191) NOT NULL,
  `name_en` varchar(191) NOT NULL,
  `icon` varchar(191) NOT NULL DEFAULT 'ti-building',
  `color` varchar(191) NOT NULL DEFAULT '#1A237E',
  `bg` varchar(191) NOT NULL DEFAULT 'rgba(26,35,126,.1)',
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `bs_categories_key_unique` (`key`)
) ENGINE=MyISAM AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bs_categories`
--

LOCK TABLES `bs_categories` WRITE;
/*!40000 ALTER TABLE `bs_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `bs_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bs_entities`
--

DROP TABLE IF EXISTS `bs_entities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bs_entities` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `category_id` bigint(20) unsigned NOT NULL,
  `name_ar` varchar(191) NOT NULL,
  `name_en` varchar(191) NOT NULL,
  `icon` varchar(191) NOT NULL DEFAULT 'ti-building',
  `color` varchar(191) NOT NULL DEFAULT '#1A237E',
  `bg` varchar(191) NOT NULL DEFAULT 'rgba(26,35,126,.1)',
  `tag_ar` varchar(191) DEFAULT NULL,
  `tag_en` varchar(191) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `images` varchar(265) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `bs_entities_category_id_foreign` (`category_id`)
) ENGINE=MyISAM AUTO_INCREMENT=182 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bs_entities`
--

LOCK TABLES `bs_entities` WRITE;
/*!40000 ALTER TABLE `bs_entities` DISABLE KEYS */;
/*!40000 ALTER TABLE `bs_entities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bs_notifications`
--

DROP TABLE IF EXISTS `bs_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bs_notifications` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `recipient_type` enum('user','office','admin') NOT NULL DEFAULT 'user',
  `user_id` bigint(20) unsigned NOT NULL,
  `office_id` bigint(20) unsigned DEFAULT NULL,
  `sender_id` bigint(20) unsigned DEFAULT NULL,
  `type` varchar(191) NOT NULL DEFAULT 'info',
  `title` varchar(191) NOT NULL,
  `body` text NOT NULL,
  `data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`data`)),
  `request_id` bigint(20) unsigned DEFAULT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bs_notifications_request_id_foreign` (`request_id`),
  KEY `bs_notifications_user_id_is_read_index` (`user_id`,`is_read`),
  KEY `bs_notifications_recipient_type_index` (`recipient_type`),
  KEY `bs_notifications_office_id_index` (`office_id`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bs_notifications`
--

LOCK TABLES `bs_notifications` WRITE;
/*!40000 ALTER TABLE `bs_notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `bs_notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bs_office_documents`
--

DROP TABLE IF EXISTS `bs_office_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bs_office_documents` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `office_id` bigint(20) unsigned NOT NULL,
  `document_type` text NOT NULL,
  `file` varchar(191) NOT NULL,
  `file_name` varchar(191) DEFAULT NULL,
  `is_verified` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bs_office_documents_office_id_foreign` (`office_id`)
) ENGINE=InnoDB AUTO_INCREMENT=322 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bs_office_documents`
--

LOCK TABLES `bs_office_documents` WRITE;
/*!40000 ALTER TABLE `bs_office_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `bs_office_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bs_office_messages`
--

DROP TABLE IF EXISTS `bs_office_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bs_office_messages` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `request_id` bigint(20) unsigned NOT NULL,
  `office_id` bigint(20) unsigned NOT NULL,
  `sender_type` enum('office','client') NOT NULL,
  `sender_id` bigint(20) unsigned DEFAULT NULL,
  `message` text NOT NULL,
  `attachments` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`attachments`)),
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bs_office_messages_request_id_foreign` (`request_id`),
  KEY `bs_office_messages_office_id_foreign` (`office_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bs_office_messages`
--

LOCK TABLES `bs_office_messages` WRITE;
/*!40000 ALTER TABLE `bs_office_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `bs_office_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bs_office_profiles`
--

DROP TABLE IF EXISTS `bs_office_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bs_office_profiles` (
  `office_id` bigint(20) unsigned NOT NULL,
  `license_number` varchar(191) NOT NULL,
  `cr_number` varchar(191) NOT NULL,
  `mobile` varchar(191) DEFAULT NULL,
  `country` varchar(191) DEFAULT NULL,
  `governorate` varchar(191) DEFAULT NULL,
  `city` varchar(191) DEFAULT NULL,
  `district` varchar(191) DEFAULT NULL,
  `street` varchar(191) DEFAULT NULL,
  `building_number` varchar(191) DEFAULT NULL,
  `office_number` varchar(191) DEFAULT NULL,
  `description_ar` longtext DEFAULT NULL,
  `description_en` longtext DEFAULT NULL,
  `handled_cases` int(10) unsigned NOT NULL DEFAULT 0,
  `custom_specialty` varchar(191) DEFAULT NULL,
  `profile_completed` tinyint(1) NOT NULL DEFAULT 0,
  `verification_status` enum('draft','pending','approved','rejected') NOT NULL DEFAULT 'draft',
  `submitted_at` timestamp NULL DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `office_code` varchar(191) DEFAULT NULL,
  `qr_code` varchar(191) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `trademark_registration_number` varchar(191) DEFAULT NULL,
  UNIQUE KEY `bs_office_profiles_office_id_unique` (`office_id`),
  UNIQUE KEY `bs_office_profiles_license_number_unique` (`license_number`),
  UNIQUE KEY `bs_office_profiles_cr_number_unique` (`cr_number`),
  UNIQUE KEY `bs_office_profiles_office_code_unique` (`office_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bs_office_profiles`
--

LOCK TABLES `bs_office_profiles` WRITE;
/*!40000 ALTER TABLE `bs_office_profiles` DISABLE KEYS */;
INSERT INTO `bs_office_profiles` VALUES (29,'6734677356','6574746','5890863906','vewvew','vewv','vew','jkwjvw','vwevew','vewvwevwe',NULL,NULL,NULL,0,NULL,1,'pending','2026-08-27 07:44:03',NULL,'OFF-000029',NULL,'2026-08-27 07:44:03','2026-08-27 07:44:03',NULL);
/*!40000 ALTER TABLE `bs_office_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bs_office_requests`
--

DROP TABLE IF EXISTS `bs_office_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bs_office_requests` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ref_number` varchar(191) NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `office_id` bigint(20) unsigned NOT NULL,
  `office_service_id` bigint(20) unsigned NOT NULL,
  `client_name` varchar(191) NOT NULL,
  `client_phone` varchar(191) NOT NULL,
  `client_email` varchar(191) NOT NULL,
  `client_id_number` varchar(191) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `attachments` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`attachments`)),
  `price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `commission_amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `status` enum('pending','accepted','in_progress','waiting_docs','done','rejected') NOT NULL DEFAULT 'pending',
  `office_note` text DEFAULT NULL,
  `completed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `bs_office_requests_ref_number_unique` (`ref_number`),
  KEY `bs_office_requests_office_id_foreign` (`office_id`),
  KEY `bs_office_requests_office_service_id_foreign` (`office_service_id`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bs_office_requests`
--

LOCK TABLES `bs_office_requests` WRITE;
/*!40000 ALTER TABLE `bs_office_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `bs_office_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bs_office_services`
--

DROP TABLE IF EXISTS `bs_office_services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bs_office_services` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `office_id` bigint(20) unsigned NOT NULL,
  `name_ar` varchar(191) NOT NULL,
  `name_en` varchar(191) NOT NULL,
  `description_ar` text DEFAULT NULL,
  `description_en` text DEFAULT NULL,
  `price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `duration` varchar(191) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `sort_order` smallint(5) unsigned NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bs_office_services_office_id_foreign` (`office_id`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bs_office_services`
--

LOCK TABLES `bs_office_services` WRITE;
/*!40000 ALTER TABLE `bs_office_services` DISABLE KEYS */;
INSERT INTO `bs_office_services` VALUES (1,3,'╪د╪│╪ز╪«╪▒╪د╪ش ╪ش┘ê╪د╪▓ ╪د┘╪│┘╪▒','Passport Issuance','┘╪د┘╪د┘╪د┘╪د','jhtghtttghtgth',10.00,'5',1,1,'2026-08-06 11:25:17','2026-08-06 11:25:17'),(2,7,'╪د╪│╪ز╪«╪▒╪د╪ش ╪ش┘ê╪د╪▓ ╪د┘╪│┘╪▒','Passport Issuance','╪د╪د╪د╪ز╪د╪║╪╣╪║┘╪ذ╪║╪ز','hjfhfbdffdfddgbfdfd',10.00,'5',1,1,'2026-08-11 09:42:59','2026-08-11 09:42:59'),(3,9,'╪د╪│╪ز╪«╪▒╪د╪ش ╪ش┘ê╪د╪▓ ╪د┘╪│┘╪▒','Passport Issuance','fhbff','ff',10.00,'5',1,1,'2026-08-15 10:19:44','2026-08-15 10:19:44');
/*!40000 ALTER TABLE `bs_office_services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bs_office_specialties`
--

DROP TABLE IF EXISTS `bs_office_specialties`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bs_office_specialties` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `office_id` bigint(20) unsigned NOT NULL,
  `specialty_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `bs_office_specialties_office_id_specialty_id_unique` (`office_id`,`specialty_id`),
  KEY `bs_office_specialties_specialty_id_foreign` (`specialty_id`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bs_office_specialties`
--

LOCK TABLES `bs_office_specialties` WRITE;
/*!40000 ALTER TABLE `bs_office_specialties` DISABLE KEYS */;
INSERT INTO `bs_office_specialties` VALUES (48,5,1,NULL,NULL),(49,6,26,NULL,NULL),(50,9,93,NULL,NULL),(51,29,76,'2026-08-27 07:44:03','2026-08-27 07:44:03');
/*!40000 ALTER TABLE `bs_office_specialties` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bs_office_users`
--

DROP TABLE IF EXISTS `bs_office_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bs_office_users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `office_id` bigint(20) unsigned NOT NULL,
  `name` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `password` varchar(191) NOT NULL,
  `role` enum('owner','manager','staff') NOT NULL DEFAULT 'owner',
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `bs_office_users_email_unique` (`email`),
  KEY `bs_office_users_office_id_foreign` (`office_id`)
) ENGINE=MyISAM AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bs_office_users`
--

LOCK TABLES `bs_office_users` WRITE;
/*!40000 ALTER TABLE `bs_office_users` DISABLE KEYS */;
/*!40000 ALTER TABLE `bs_office_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bs_offices`
--

DROP TABLE IF EXISTS `bs_offices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bs_offices` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `type` enum('law','services','customs','accounting','engineering','freelance') NOT NULL,
  `name_ar` varchar(191) NOT NULL,
  `name_en` varchar(191) NOT NULL,
  `description_ar` text DEFAULT NULL,
  `description_en` text DEFAULT NULL,
  `phone` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `city` varchar(191) DEFAULT NULL,
  `cr_number` varchar(191) DEFAULT NULL,
  `logo` varchar(191) DEFAULT NULL,
  `specialties` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`specialties`)),
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `is_verified` tinyint(1) NOT NULL DEFAULT 0,
  `commission_rate` decimal(5,2) NOT NULL DEFAULT 0.00,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `office_code` varchar(60) NOT NULL,
  `public_token` varchar(60) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `bs_offices_email_unique` (`email`)
) ENGINE=MyISAM AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bs_offices`
--

LOCK TABLES `bs_offices` WRITE;
/*!40000 ALTER TABLE `bs_offices` DISABLE KEYS */;
/*!40000 ALTER TABLE `bs_offices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bs_payments`
--

DROP TABLE IF EXISTS `bs_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bs_payments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `request_id` bigint(20) unsigned DEFAULT NULL,
  `amount` decimal(10,2) NOT NULL,
  `type` enum('charge','payment','refund') NOT NULL DEFAULT 'charge',
  `description_ar` varchar(191) DEFAULT NULL,
  `description_en` varchar(191) DEFAULT NULL,
  `status` enum('pending','completed','failed') NOT NULL DEFAULT 'completed',
  `transaction_ref` varchar(191) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `bs_payments_transaction_ref_unique` (`transaction_ref`),
  KEY `bs_payments_request_id_foreign` (`request_id`),
  KEY `bs_payments_user_id_index` (`user_id`),
  KEY `bs_payments_user_id_type_index` (`user_id`,`type`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bs_payments`
--

LOCK TABLES `bs_payments` WRITE;
/*!40000 ALTER TABLE `bs_payments` DISABLE KEYS */;
INSERT INTO `bs_payments` VALUES (1,30,NULL,300.00,'charge','╪┤╪ص┘ ╪▒╪╡┘è╪» ┘à┘ ╪د┘╪ح╪»╪د╪▒╪ر','Admin balance charge','completed',NULL,'2026-06-20 11:07:06','2026-06-20 11:07:06'),(2,30,1,300.00,'payment','╪»┘╪╣ ╪«╪»┘à╪ر: ╪د╪│╪ز╪«╪▒╪د╪ش ╪ش┘ê╪د╪▓ ╪د┘╪│┘╪▒','Service payment: Passport Issuance','completed',NULL,'2026-07-25 12:22:43','2026-07-25 12:22:43'),(3,27,NULL,100.00,'charge','╪┤╪ص┘ ╪▒╪╡┘è╪» ┘à┘ ╪د┘╪ح╪»╪د╪▒╪ر','Admin balance charge','completed',NULL,'2026-08-17 09:25:05','2026-08-17 09:25:05');
/*!40000 ALTER TABLE `bs_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bs_request_logs`
--

DROP TABLE IF EXISTS `bs_request_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bs_request_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `request_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `status` varchar(191) NOT NULL,
  `log_type` varchar(191) NOT NULL DEFAULT 'status_change',
  `note` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bs_request_logs_request_id_foreign` (`request_id`)
) ENGINE=MyISAM AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bs_request_logs`
--

LOCK TABLES `bs_request_logs` WRITE;
/*!40000 ALTER TABLE `bs_request_logs` DISABLE KEYS */;
INSERT INTO `bs_request_logs` VALUES (1,1,30,'pending','status_change','╪ز┘à ╪ز┘é╪»┘è┘à ╪د┘╪╖┘╪ذ','2026-07-25 12:22:43','2026-07-25 12:22:43'),(2,1,11,'done','status_change',NULL,'2026-07-25 12:26:16','2026-07-25 12:26:16');
/*!40000 ALTER TABLE `bs_request_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bs_requests`
--

DROP TABLE IF EXISTS `bs_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bs_requests` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ref_number` varchar(191) NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `service_id` bigint(20) unsigned NOT NULL,
  `entity_id` bigint(20) unsigned NOT NULL,
  `client_name` varchar(191) NOT NULL,
  `client_email` varchar(191) NOT NULL,
  `client_phone` varchar(191) NOT NULL,
  `client_id_number` varchar(191) NOT NULL,
  `company_name` varchar(191) DEFAULT NULL,
  `company_cr` varchar(191) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `attachments` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`attachments`)),
  `price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `status` enum('pending','processing','in_progress','done','rejected') NOT NULL DEFAULT 'pending',
  `reject_reason` text DEFAULT NULL,
  `estimated_completion` varchar(191) DEFAULT NULL,
  `completed_at` timestamp NULL DEFAULT NULL,
  `handled_by` bigint(20) unsigned DEFAULT NULL,
  `office_id` bigint(20) unsigned DEFAULT NULL,
  `office_status` enum('pending','accepted','in_progress','waiting_docs','done','rejected') DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `bs_requests_ref_number_unique` (`ref_number`),
  KEY `bs_requests_service_id_foreign` (`service_id`),
  KEY `bs_requests_entity_id_foreign` (`entity_id`),
  KEY `bs_requests_user_id_index` (`user_id`),
  KEY `bs_requests_status_index` (`status`),
  KEY `bs_requests_user_id_status_index` (`user_id`,`status`),
  KEY `bs_requests_status_created_at_index` (`status`,`created_at`),
  KEY `bs_requests_office_id_foreign` (`office_id`)
) ENGINE=MyISAM AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bs_requests`
--

LOCK TABLES `bs_requests` WRITE;
/*!40000 ALTER TABLE `bs_requests` DISABLE KEYS */;
INSERT INTO `bs_requests` VALUES (1,'AMR-XN8PKH',30,1,1,'Maram','maramhtt611999@gmail.com','0598581863','1234567890','gjgjfgjfg','1234567',NULL,NULL,300.00,'done',NULL,NULL,'2026-07-25 12:26:16',11,NULL,NULL,'2026-07-25 12:22:43','2026-07-25 12:26:16');
/*!40000 ALTER TABLE `bs_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bs_services`
--

DROP TABLE IF EXISTS `bs_services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bs_services` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `entity_id` bigint(20) unsigned NOT NULL,
  `name_ar` varchar(191) NOT NULL,
  `name_en` varchar(191) NOT NULL,
  `icon` varchar(191) NOT NULL DEFAULT 'ti-file-text',
  `price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `description_ar` text DEFAULT NULL,
  `description_en` text DEFAULT NULL,
  `estimated_days` int(11) NOT NULL DEFAULT 3,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bs_services_entity_id_foreign` (`entity_id`)
) ENGINE=MyISAM AUTO_INCREMENT=155 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bs_services`
--

LOCK TABLES `bs_services` WRITE;
/*!40000 ALTER TABLE `bs_services` DISABLE KEYS */;
/*!40000 ALTER TABLE `bs_services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bs_specialties`
--

DROP TABLE IF EXISTS `bs_specialties`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bs_specialties` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `office_type` enum('law','services','customs','accounting','engineering','freelance') NOT NULL,
  `name_ar` varchar(191) NOT NULL,
  `name_en` varchar(191) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=102 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bs_specialties`
--

LOCK TABLES `bs_specialties` WRITE;
/*!40000 ALTER TABLE `bs_specialties` DISABLE KEYS */;
/*!40000 ALTER TABLE `bs_specialties` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bs_users`
--

DROP TABLE IF EXISTS `bs_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bs_users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `phone` varchar(191) DEFAULT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(191) NOT NULL,
  `role` enum('admin','supervisor','user') NOT NULL DEFAULT 'user',
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `permissions` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`permissions`)),
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `bs_users_email_unique` (`email`)
) ENGINE=MyISAM AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bs_users`
--

LOCK TABLES `bs_users` WRITE;
/*!40000 ALTER TABLE `bs_users` DISABLE KEYS */;
/*!40000 ALTER TABLE `bs_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `business_notifications`
--

DROP TABLE IF EXISTS `business_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `business_notifications` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `sender_id` bigint(20) unsigned DEFAULT NULL,
  `type` varchar(191) NOT NULL DEFAULT 'info',
  `title` varchar(191) NOT NULL,
  `body` text NOT NULL,
  `request_id` bigint(20) unsigned DEFAULT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `business_notifications_user_id_foreign` (`user_id`),
  KEY `business_notifications_sender_id_foreign` (`sender_id`),
  KEY `business_notifications_request_id_foreign` (`request_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `business_notifications`
--

LOCK TABLES `business_notifications` WRITE;
/*!40000 ALTER TABLE `business_notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `business_notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(191) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(191) NOT NULL,
  `owner` varchar(191) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cart_items`
--

DROP TABLE IF EXISTS `cart_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cart_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `cart_id` bigint(20) unsigned NOT NULL,
  `item_type` varchar(191) NOT NULL,
  `item_id` bigint(20) unsigned NOT NULL,
  `label` varchar(191) NOT NULL,
  `price_snapshot` decimal(10,2) NOT NULL DEFAULT 0.00,
  `event_date` date DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cart_items_cart_id_foreign` (`cart_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cart_items`
--

LOCK TABLES `cart_items` WRITE;
/*!40000 ALTER TABLE `cart_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `cart_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carts`
--

DROP TABLE IF EXISTS `carts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `carts` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `carts_user_id_foreign` (`user_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carts`
--

LOCK TABLES `carts` WRITE;
/*!40000 ALTER TABLE `carts` DISABLE KEYS */;
/*!40000 ALTER TABLE `carts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `key` varchar(191) NOT NULL,
  `name_ar` varchar(191) NOT NULL,
  `name_en` varchar(191) NOT NULL,
  `icon` varchar(191) NOT NULL DEFAULT 'ti-building',
  `color` varchar(191) NOT NULL DEFAULT '#1A237E',
  `bg` varchar(191) NOT NULL DEFAULT 'rgba(26,35,126,.1)',
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `categories_key_unique` (`key`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entities`
--

DROP TABLE IF EXISTS `entities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `entities` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `category_id` bigint(20) unsigned NOT NULL,
  `name_ar` varchar(191) NOT NULL,
  `name_en` varchar(191) NOT NULL,
  `icon` varchar(191) NOT NULL DEFAULT 'ti-building',
  `color` varchar(191) NOT NULL DEFAULT '#1A237E',
  `bg` varchar(191) NOT NULL DEFAULT 'rgba(26,35,126,.1)',
  `tag_ar` varchar(191) DEFAULT NULL,
  `tag_en` varchar(191) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `entities_category_id_foreign` (`category_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entities`
--

LOCK TABLES `entities` WRITE;
/*!40000 ALTER TABLE `entities` DISABLE KEYS */;
/*!40000 ALTER TABLE `entities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(191) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `franchise_auctions`
--

DROP TABLE IF EXISTS `franchise_auctions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `franchise_auctions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `brand_id` bigint(20) unsigned NOT NULL,
  `title` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `starting_bid` bigint(20) unsigned NOT NULL,
  `current_bid` bigint(20) unsigned NOT NULL,
  `reserve_price` bigint(20) unsigned DEFAULT NULL,
  `increment_amount` bigint(20) unsigned NOT NULL DEFAULT 2500,
  `deposit_amount` bigint(20) unsigned NOT NULL DEFAULT 5000,
  `bids_count` int(10) unsigned NOT NULL DEFAULT 0,
  `status` enum('upcoming','active','ended','cancelled') NOT NULL DEFAULT 'active',
  `starts_at` timestamp NULL DEFAULT NULL,
  `ends_at` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `winner_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `franchise_auctions_brand_id_foreign` (`brand_id`),
  KEY `franchise_auctions_winner_id_foreign` (`winner_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `franchise_auctions`
--

LOCK TABLES `franchise_auctions` WRITE;
/*!40000 ALTER TABLE `franchise_auctions` DISABLE KEYS */;
/*!40000 ALTER TABLE `franchise_auctions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `franchise_bids`
--

DROP TABLE IF EXISTS `franchise_bids`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `franchise_bids` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `auction_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `amount` bigint(20) unsigned NOT NULL,
  `status` enum('active','outbid','won','refunded') NOT NULL DEFAULT 'active',
  `deposit_ref` varchar(191) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `franchise_bids_auction_id_foreign` (`auction_id`),
  KEY `franchise_bids_user_id_foreign` (`user_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `franchise_bids`
--

LOCK TABLES `franchise_bids` WRITE;
/*!40000 ALTER TABLE `franchise_bids` DISABLE KEYS */;
/*!40000 ALTER TABLE `franchise_bids` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `franchise_brand_images`
--

DROP TABLE IF EXISTS `franchise_brand_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `franchise_brand_images` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `brand_id` bigint(20) unsigned NOT NULL,
  `path` varchar(191) NOT NULL,
  `caption` varchar(191) DEFAULT NULL,
  `sort_order` smallint(5) unsigned NOT NULL DEFAULT 0,
  `is_primary` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `franchise_brand_images_brand_id_foreign` (`brand_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `franchise_brand_images`
--

LOCK TABLES `franchise_brand_images` WRITE;
/*!40000 ALTER TABLE `franchise_brand_images` DISABLE KEYS */;
/*!40000 ALTER TABLE `franchise_brand_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `franchise_brands`
--

DROP TABLE IF EXISTS `franchise_brands`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `franchise_brands` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `name_en` varchar(191) DEFAULT NULL,
  `logo` varchar(191) DEFAULT NULL,
  `category` varchar(191) NOT NULL,
  `subcategory` varchar(191) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `description_en` text DEFAULT NULL,
  `investment_min` bigint(20) unsigned NOT NULL DEFAULT 0,
  `investment_max` bigint(20) unsigned NOT NULL DEFAULT 0,
  `roi_months_min` smallint(5) unsigned NOT NULL DEFAULT 12,
  `roi_months_max` smallint(5) unsigned NOT NULL DEFAULT 24,
  `franchise_fee_percent` decimal(4,2) NOT NULL DEFAULT 5.00,
  `available_regions` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`available_regions`)),
  `requirements` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`requirements`)),
  `features` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`features`)),
  `is_featured` tinyint(1) NOT NULL DEFAULT 0,
  `is_auction_eligible` tinyint(1) NOT NULL DEFAULT 0,
  `status` enum('active','inactive','draft') NOT NULL DEFAULT 'active',
  `sort_order` smallint(5) unsigned NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `franchise_brands`
--

LOCK TABLES `franchise_brands` WRITE;
/*!40000 ALTER TABLE `franchise_brands` DISABLE KEYS */;
/*!40000 ALTER TABLE `franchise_brands` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `franchise_opportunities`
--

DROP TABLE IF EXISTS `franchise_opportunities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `franchise_opportunities` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `name_en` varchar(191) DEFAULT NULL,
  `category` varchar(191) NOT NULL DEFAULT 'food',
  `description` text DEFAULT NULL,
  `icon` varchar(191) NOT NULL DEFAULT 'fa-store',
  `gradient_from` varchar(191) NOT NULL DEFAULT '#0d2448',
  `gradient_to` varchar(191) NOT NULL DEFAULT '#1a4a8a',
  `badge_text` varchar(191) DEFAULT NULL,
  `investment_min` bigint(20) unsigned NOT NULL DEFAULT 0,
  `investment_max` bigint(20) unsigned NOT NULL DEFAULT 0,
  `roi_months_min` int(10) unsigned NOT NULL DEFAULT 12,
  `roi_months_max` int(10) unsigned NOT NULL DEFAULT 24,
  `franchise_fee_percent` decimal(4,1) NOT NULL DEFAULT 5.0,
  `available_regions` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`available_regions`)),
  `requirements` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`requirements`)),
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `is_featured` tinyint(1) NOT NULL DEFAULT 0,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `franchise_opportunities`
--

LOCK TABLES `franchise_opportunities` WRITE;
/*!40000 ALTER TABLE `franchise_opportunities` DISABLE KEYS */;
/*!40000 ALTER TABLE `franchise_opportunities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `franchise_opportunity_steps`
--

DROP TABLE IF EXISTS `franchise_opportunity_steps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `franchise_opportunity_steps` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `opportunity_id` bigint(20) unsigned NOT NULL,
  `title` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `icon` varchar(191) NOT NULL DEFAULT 'fa-circle',
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `franchise_opportunity_steps_opportunity_id_foreign` (`opportunity_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `franchise_opportunity_steps`
--

LOCK TABLES `franchise_opportunity_steps` WRITE;
/*!40000 ALTER TABLE `franchise_opportunity_steps` DISABLE KEYS */;
/*!40000 ALTER TABLE `franchise_opportunity_steps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gov_services`
--

DROP TABLE IF EXISTS `gov_services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gov_services` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `entity_id` bigint(20) unsigned NOT NULL,
  `name_ar` varchar(191) NOT NULL,
  `name_en` varchar(191) NOT NULL,
  `icon` varchar(191) NOT NULL DEFAULT 'ti-file-text',
  `price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `description_ar` text DEFAULT NULL,
  `description_en` text DEFAULT NULL,
  `estimated_days` int(11) NOT NULL DEFAULT 3,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `gov_services_entity_id_foreign` (`entity_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gov_services`
--

LOCK TABLES `gov_services` WRITE;
/*!40000 ALTER TABLE `gov_services` DISABLE KEYS */;
/*!40000 ALTER TABLE `gov_services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hall_bookings`
--

DROP TABLE IF EXISTS `hall_bookings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hall_bookings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `hall_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `owner_name` varchar(191) NOT NULL,
  `booking_date` date NOT NULL,
  `occasion_type` enum('wedding','engagement','birthday','corporate','graduation','meeting','other') NOT NULL,
  `guests_count` int(10) unsigned NOT NULL,
  `tables_count` int(10) unsigned NOT NULL,
  `notes` text DEFAULT NULL,
  `total_price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `payment_method` varchar(30) DEFAULT NULL,
  `payment_contact` varchar(30) DEFAULT NULL,
  `payment_email` varchar(191) DEFAULT NULL,
  `payment_reference` varchar(100) DEFAULT NULL,
  `payment_status` varchar(20) NOT NULL DEFAULT 'pending',
  `status` enum('pending','confirmed','cancelled') NOT NULL DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `hall_bookings_hall_id_foreign` (`hall_id`),
  KEY `hall_bookings_user_id_foreign` (`user_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hall_bookings`
--

LOCK TABLES `hall_bookings` WRITE;
/*!40000 ALTER TABLE `hall_bookings` DISABLE KEYS */;
/*!40000 ALTER TABLE `hall_bookings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hall_busy_dates`
--

DROP TABLE IF EXISTS `hall_busy_dates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hall_busy_dates` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `hall_id` bigint(20) unsigned NOT NULL,
  `busy_date` date NOT NULL,
  `reason` varchar(191) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `hall_busy_dates_hall_id_busy_date_unique` (`hall_id`,`busy_date`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hall_busy_dates`
--

LOCK TABLES `hall_busy_dates` WRITE;
/*!40000 ALTER TABLE `hall_busy_dates` DISABLE KEYS */;
/*!40000 ALTER TABLE `hall_busy_dates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hall_features`
--

DROP TABLE IF EXISTS `hall_features`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hall_features` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `hall_id` bigint(20) unsigned NOT NULL,
  `name` varchar(191) NOT NULL,
  `icon` varchar(191) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `hall_features_hall_id_foreign` (`hall_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hall_features`
--

LOCK TABLES `hall_features` WRITE;
/*!40000 ALTER TABLE `hall_features` DISABLE KEYS */;
/*!40000 ALTER TABLE `hall_features` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hall_media`
--

DROP TABLE IF EXISTS `hall_media`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hall_media` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `hall_id` bigint(20) unsigned NOT NULL,
  `file_path` varchar(191) NOT NULL,
  `sort_order` int(10) unsigned NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `hall_media_hall_id_foreign` (`hall_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hall_media`
--

LOCK TABLES `hall_media` WRITE;
/*!40000 ALTER TABLE `hall_media` DISABLE KEYS */;
/*!40000 ALTER TABLE `hall_media` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hall_offers`
--

DROP TABLE IF EXISTS `hall_offers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hall_offers` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `hall_id` bigint(20) unsigned NOT NULL,
  `title` varchar(191) NOT NULL,
  `discount_type` enum('percentage','fixed','none') NOT NULL DEFAULT 'none',
  `discount_value` decimal(8,2) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `included_services` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`included_services`)),
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `hall_offers_hall_id_foreign` (`hall_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hall_offers`
--

LOCK TABLES `hall_offers` WRITE;
/*!40000 ALTER TABLE `hall_offers` DISABLE KEYS */;
/*!40000 ALTER TABLE `hall_offers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hall_partners`
--

DROP TABLE IF EXISTS `hall_partners`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hall_partners` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `hall_id` bigint(20) unsigned NOT NULL,
  `company_name` varchar(191) NOT NULL,
  `logo_path` varchar(191) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `hall_partners_hall_id_foreign` (`hall_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hall_partners`
--

LOCK TABLES `hall_partners` WRITE;
/*!40000 ALTER TABLE `hall_partners` DISABLE KEYS */;
/*!40000 ALTER TABLE `hall_partners` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hall_seasonal_prices`
--

DROP TABLE IF EXISTS `hall_seasonal_prices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hall_seasonal_prices` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `hall_id` bigint(20) unsigned NOT NULL,
  `label` varchar(191) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `price_per_day` decimal(10,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `hall_seasonal_prices_hall_id_foreign` (`hall_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hall_seasonal_prices`
--

LOCK TABLES `hall_seasonal_prices` WRITE;
/*!40000 ALTER TABLE `hall_seasonal_prices` DISABLE KEYS */;
/*!40000 ALTER TABLE `hall_seasonal_prices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hall_verification_documents`
--

DROP TABLE IF EXISTS `hall_verification_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hall_verification_documents` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `hall_id` bigint(20) unsigned DEFAULT NULL,
  `owner_id` bigint(20) unsigned NOT NULL,
  `document_type` varchar(191) NOT NULL,
  `file_path` varchar(191) NOT NULL,
  `expiry_date` date DEFAULT NULL,
  `status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `admin_note` varchar(191) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `hall_verification_documents_hall_id_foreign` (`hall_id`),
  KEY `hall_verification_documents_owner_id_foreign` (`owner_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hall_verification_documents`
--

LOCK TABLES `hall_verification_documents` WRITE;
/*!40000 ALTER TABLE `hall_verification_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `hall_verification_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `halls`
--

DROP TABLE IF EXISTS `halls`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `halls` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `owner_id` bigint(20) unsigned NOT NULL,
  `registered_by` bigint(20) unsigned DEFAULT NULL,
  `registration_commission_rate` decimal(5,2) NOT NULL DEFAULT 0.00,
  `name` varchar(191) NOT NULL,
  `venue_type` varchar(191) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `location` varchar(191) NOT NULL,
  `city` varchar(191) NOT NULL,
  `country` varchar(100) DEFAULT NULL,
  `commercial_reg_number` varchar(60) DEFAULT NULL,
  `latitude` decimal(10,7) DEFAULT NULL,
  `longitude` decimal(10,7) DEFAULT NULL,
  `capacity` int(10) unsigned NOT NULL,
  `max_tables` int(10) unsigned NOT NULL,
  `price_per_day` decimal(10,2) NOT NULL,
  `profile_photo` varchar(191) DEFAULT NULL,
  `cover_photo` varchar(191) DEFAULT NULL,
  `whatsapp_number` varchar(20) DEFAULT NULL,
  `status` enum('pending','under_review','active','inactive','rejected') NOT NULL DEFAULT 'pending',
  `admin_note` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `halls_owner_id_foreign` (`owner_id`),
  KEY `halls_registered_by_foreign` (`registered_by`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `halls`
--

LOCK TABLES `halls` WRITE;
/*!40000 ALTER TABLE `halls` DISABLE KEYS */;
/*!40000 ALTER TABLE `halls` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_batches` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(191) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(191) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_items`
--

DROP TABLE IF EXISTS `order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `order_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `order_id` bigint(20) unsigned NOT NULL,
  `item_type` varchar(191) NOT NULL,
  `item_id` bigint(20) unsigned NOT NULL,
  `label` varchar(191) NOT NULL,
  `price_snapshot` decimal(10,2) NOT NULL DEFAULT 0.00,
  `event_date` date DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `order_items_order_id_foreign` (`order_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_items`
--

LOCK TABLES `order_items` WRITE;
/*!40000 ALTER TABLE `order_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `orders` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `order_number` varchar(191) NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `total_amount` decimal(10,2) NOT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'pending_payment',
  `payment_method` varchar(30) DEFAULT 'bank_transfer',
  `receipt_path` varchar(191) DEFAULT NULL,
  `bank_info_snapshot` text DEFAULT NULL,
  `admin_notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `orders_order_number_unique` (`order_number`),
  KEY `orders_user_id_foreign` (`user_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `page_sliders`
--

DROP TABLE IF EXISTS `page_sliders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `page_sliders` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(191) DEFAULT NULL,
  `subtitle` varchar(191) DEFAULT NULL,
  `image_path` varchar(191) NOT NULL,
  `link_url` varchar(191) DEFAULT NULL,
  `link_text` varchar(191) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `page_sliders`
--

LOCK TABLES `page_sliders` WRITE;
/*!40000 ALTER TABLE `page_sliders` DISABLE KEYS */;
/*!40000 ALTER TABLE `page_sliders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `partner_categories`
--

DROP TABLE IF EXISTS `partner_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `partner_categories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `supervisor_id` bigint(20) unsigned NOT NULL,
  `name` varchar(100) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `partner_categories_supervisor_id_foreign` (`supervisor_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `partner_categories`
--

LOCK TABLES `partner_categories` WRITE;
/*!40000 ALTER TABLE `partner_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `partner_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `partner_media`
--

DROP TABLE IF EXISTS `partner_media`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `partner_media` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `partner_id` bigint(20) unsigned NOT NULL,
  `file_path` varchar(191) NOT NULL,
  `sort_order` tinyint(3) unsigned NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `partner_media_partner_id_foreign` (`partner_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `partner_media`
--

LOCK TABLES `partner_media` WRITE;
/*!40000 ALTER TABLE `partner_media` DISABLE KEYS */;
/*!40000 ALTER TABLE `partner_media` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `partner_services`
--

DROP TABLE IF EXISTS `partner_services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `partner_services` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `partner_id` bigint(20) unsigned NOT NULL,
  `title` varchar(150) NOT NULL,
  `description` text DEFAULT NULL,
  `price` varchar(100) DEFAULT NULL,
  `sort_order` tinyint(3) unsigned NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `partner_services_partner_id_foreign` (`partner_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `partner_services`
--

LOCK TABLES `partner_services` WRITE;
/*!40000 ALTER TABLE `partner_services` DISABLE KEYS */;
/*!40000 ALTER TABLE `partner_services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `partners`
--

DROP TABLE IF EXISTS `partners`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `partners` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `added_by` bigint(20) unsigned DEFAULT NULL,
  `type` enum('simple','account','officiant') NOT NULL DEFAULT 'account',
  `category_id` bigint(20) unsigned DEFAULT NULL,
  `company_name` varchar(150) NOT NULL,
  `description` text DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `country` varchar(100) DEFAULT NULL,
  `commercial_reg_number` varchar(60) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `whatsapp` varchar(20) DEFAULT NULL,
  `website` varchar(255) DEFAULT NULL,
  `logo_path` varchar(191) DEFAULT NULL,
  `cover_path` varchar(191) DEFAULT NULL,
  `status` enum('pending','active','rejected') NOT NULL DEFAULT 'pending',
  `admin_note` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `partners_user_id_foreign` (`user_id`),
  KEY `partners_category_id_foreign` (`category_id`),
  KEY `partners_added_by_foreign` (`added_by`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `partners`
--

LOCK TABLES `partners` WRITE;
/*!40000 ALTER TABLE `partners` DISABLE KEYS */;
/*!40000 ALTER TABLE `partners` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(191) NOT NULL,
  `token` varchar(191) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `referrals`
--

DROP TABLE IF EXISTS `referrals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `referrals` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `agent_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `hall_id` bigint(20) unsigned NOT NULL,
  `booking_id` bigint(20) unsigned DEFAULT NULL,
  `ref_code` varchar(20) NOT NULL,
  `source` enum('link','manual') NOT NULL DEFAULT 'link',
  `commission_rate` decimal(5,2) NOT NULL DEFAULT 10.00,
  `commission_amount` decimal(10,2) DEFAULT NULL,
  `status` enum('pending','confirmed','paid','rejected') NOT NULL DEFAULT 'pending',
  `confirmed_by` bigint(20) unsigned DEFAULT NULL,
  `confirmed_at` timestamp NULL DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `referrals_user_id_hall_id_unique` (`user_id`,`hall_id`),
  KEY `referrals_agent_id_foreign` (`agent_id`),
  KEY `referrals_hall_id_foreign` (`hall_id`),
  KEY `referrals_booking_id_foreign` (`booking_id`),
  KEY `referrals_confirmed_by_foreign` (`confirmed_by`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `referrals`
--

LOCK TABLES `referrals` WRITE;
/*!40000 ALTER TABLE `referrals` DISABLE KEYS */;
/*!40000 ALTER TABLE `referrals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `request_logs`
--

DROP TABLE IF EXISTS `request_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `request_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `request_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `status` varchar(191) NOT NULL,
  `log_type` varchar(191) NOT NULL DEFAULT 'status_change',
  `note` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `request_logs_request_id_foreign` (`request_id`),
  KEY `request_logs_user_id_foreign` (`user_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `request_logs`
--

LOCK TABLES `request_logs` WRITE;
/*!40000 ALTER TABLE `request_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `request_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `service_bookings`
--

DROP TABLE IF EXISTS `service_bookings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `service_bookings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `partner_id` bigint(20) unsigned NOT NULL,
  `partner_service_id` bigint(20) unsigned DEFAULT NULL,
  `event_date` date NOT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'pending',
  `total_price` decimal(10,2) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `service_bookings_user_id_foreign` (`user_id`),
  KEY `service_bookings_partner_id_foreign` (`partner_id`),
  KEY `service_bookings_partner_service_id_foreign` (`partner_service_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `service_bookings`
--

LOCK TABLES `service_bookings` WRITE;
/*!40000 ALTER TABLE `service_bookings` DISABLE KEYS */;
/*!40000 ALTER TABLE `service_bookings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `service_payments`
--

DROP TABLE IF EXISTS `service_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `service_payments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `request_id` bigint(20) unsigned DEFAULT NULL,
  `amount` decimal(10,2) NOT NULL,
  `type` enum('charge','payment','refund') NOT NULL DEFAULT 'charge',
  `description_ar` varchar(191) DEFAULT NULL,
  `description_en` varchar(191) DEFAULT NULL,
  `status` enum('pending','completed','failed') NOT NULL DEFAULT 'completed',
  `transaction_ref` varchar(191) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `service_payments_user_id_foreign` (`user_id`),
  KEY `service_payments_request_id_foreign` (`request_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `service_payments`
--

LOCK TABLES `service_payments` WRITE;
/*!40000 ALTER TABLE `service_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `service_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `service_requests`
--

DROP TABLE IF EXISTS `service_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `service_requests` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `ref_number` varchar(191) NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `gov_service_id` bigint(20) unsigned NOT NULL,
  `entity_id` bigint(20) unsigned NOT NULL,
  `client_name` varchar(191) NOT NULL,
  `client_email` varchar(191) NOT NULL,
  `client_phone` varchar(191) NOT NULL,
  `client_id_number` varchar(191) NOT NULL,
  `company_name` varchar(191) DEFAULT NULL,
  `company_cr` varchar(191) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `attachments` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`attachments`)),
  `price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `status` enum('pending','processing','in_progress','done','rejected') NOT NULL DEFAULT 'pending',
  `reject_reason` text DEFAULT NULL,
  `estimated_completion` varchar(191) DEFAULT NULL,
  `completed_at` timestamp NULL DEFAULT NULL,
  `handled_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `service_requests_ref_number_unique` (`ref_number`),
  KEY `service_requests_user_id_foreign` (`user_id`),
  KEY `service_requests_gov_service_id_foreign` (`gov_service_id`),
  KEY `service_requests_entity_id_foreign` (`entity_id`),
  KEY `service_requests_handled_by_foreign` (`handled_by`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `service_requests`
--

LOCK TABLES `service_requests` WRITE;
/*!40000 ALTER TABLE `service_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `service_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(191) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `country` varchar(80) DEFAULT NULL,
  `role` enum('user','owner','admin','supervisor','manager','agent','partner') NOT NULL DEFAULT 'user',
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(191) NOT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-27 18:58:05
