<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/agencies/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>frontend</title>
    <script type="module" crossorigin src="/agencies/assets/index-QUBraaFd.js"></script>
    <link rel="modulepreload" crossorigin href="/agencies/assets/rolldown-runtime-BYbx6iT9.js">
    <link rel="modulepreload" crossorigin href="/agencies/assets/i18n-bG9ZHSoM.js">
    <link rel="modulepreload" crossorigin href="/agencies/assets/motion-DjLWuMPE.js">
    <link rel="stylesheet" crossorigin href="/agencies/assets/index-D0kDnbWV.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
